$fancy-line-outer: #f0f0f0;
$fancy-line-inner: #e6d3b0;
$white: white;
$primary-color: #0c111a;
$secondary-color: #1778ed;
$dark-grey: #111;
$darker-grey: #222;
$neutral-grey: #272727;
$light-grey: #f2f2f2;
$navy-blue: #03045e;
$navbar-links: #e6d3b0;
$website-links: #272727;
$website-links-hover: rgb(59, 59, 59);
$link-shadow: #00000070;
// beige-#FFFDF5

// media-queries
$phone: 375px;
$tablet-portrait: 950px;
$tablet-landscape: 1200px;
// $laptop: 1920px;

// typography
$navbar-font: Sackers Gothic Medium, Verdana, Helvetica, sans-serif;
$body-font: Source Sans Pro Light, Helvetica, Arial, sans-serif;
$heading-font: Source Sans Pro, Helvetica, Arial, sans-serif;
