.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
}

.restaurants__heading, .suggestions__heading {
  font-size: 41px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
}

.restaurants__fancy-line, .suggestions__fancy-line, .about__fancy-line {
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  height: 1.5px;
  background-image: -webkit-linear-gradient(left, #f0f0f0, #e6d3b0, #f0f0f0);
  margin-bottom: 60px;
}

#landingPage {
  grid-area: hd;
}

.landing-page {
  background-image: url("./../Images/background2.jpg");
  background-position: bottom;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
}
.landing-page__content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
  text-align: center;
  flex-wrap: nowrap;
  gap: 20px;
  height: 35vh;
}
@media only screen and (max-width: 375px) {
  .landing-page__content {
    display: flex;
    justify-content: none;
    align-items: center;
    flex-direction: column;
    text-align: center;
    flex-wrap: nowrap;
  }
}
.landing-page__heading {
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-size: 64px;
  font-weight: 800;
  line-height: 70px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  color: whitesmoke;
}
.landing-page__arrow {
  color: whitesmoke;
  opacity: 0.6;
  transition: all 200ms ease-in-out;
}
.landing-page__arrow:hover {
  transform: rotate(90deg);
  opacity: 0.6;
}

#about {
  grid-area: about;
}

.about {
  background-color: white;
  color: #0c111a;
}
.about__heading {
  font-size: 41px;
  font-weight: 800px;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  text-align: center;
  margin-bottom: 20px;
}
.about__fancy-line {
  margin-bottom: 60px;
}
.about__paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
  text-align: center;
}

#contact {
  grid-area: contact;
}

.suggestions__contact-form {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 10px;
  font-size: 16px;
  font-weight: 300px;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
}
.suggestions__input {
  margin-bottom: 10px;
  resize: none;
  /*Resize textarea is disabled*/
  font-size: 16px;
  outline: none;
}
.suggestions__text-area {
  min-height: 200px;
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300px;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  margin-bottom: 10px;
}
.suggestions__website-link {
  font-family: Sackers Gothic Medium, Verdana, Helvetica, sans-serif;
  background-color: #272727;
  color: white;
  font-size: 14px;
  font-weight: 100;
  line-height: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1em;
  border: none;
}
.suggestions__website-link--hover:hover {
  cursor: pointer;
  background-color: #3b3b3b;
  color: #e6d3b0;
}

#footer {
  grid-area: footer;
}

/*FOOTER*/
.contact__social-media {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
}
.contact__links {
  background-color: #e6d3b0;
  color: #0c111a;
  opacity: 0.8;
  border-radius: 30%;
  box-shadow: 0px 5px 15px -5px #00000070;
  transition: all 0.25s;
  padding: 9px;
}
.contact__links:hover {
  opacity: 1;
  transform: scale(1.1);
  background-color: #0c111a;
  color: #e6d3b0;
}
.contact__paragraph {
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 20px;
}
.contact__personal-site {
  color: #0c111a;
}

.navbar {
  font-family: Sackers Gothic Medium, Verdana, Helvetica, sans-serif;
  background-color: transparent;
  color: white;
  position: fixed;
  transition: all 0.5s;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
.navbar__menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  text-align: center;
  flex-wrap: nowrap;
}
.navbar__brand {
  font-size: 2em;
  font-weight: bold;
  line-height: none;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  padding: 0.5em 2em;
  color: white;
}
.navbar__list {
  list-style-type: none;
}
.navbar__links {
  font-size: 16px;
  font-weight: 100;
  line-height: 27px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  color: white;
  margin: 50px;
  transition: all 0.2s ease-in-out;
  opacity: 0.7;
}
.navbar__links:hover {
  color: white;
  opacity: 1;
  text-decoration: underline #e6d3b0 2px;
  text-underline-position: under;
}

/*ADDING JAVASCRIPT -> HEADER CHANGE*/
.change-color {
  background-color: white;
  color: #0c111a;
  box-shadow: 0 0 50px #ccc;
}
.change-color .navbar__links {
  color: #0c111a;
}
.change-color .navbar__links:hover {
  text-decoration: underline #e6d3b0 2px;
}
.change-color .navbar__brand {
  color: #0c111a;
}
.change-color .navbar__toggle {
  filter: invert(1);
}

@media only screen and (max-width: 1200px) {
  .navbar__menu {
    top: 70px;
    /*hiding our navbar from view*/
    left: -100%;
    position: fixed;
    display: block;
    height: 100vh;
    width: 100%;
    text-align: center;
    transition: 0.5s;
    z-index: 999;
    background-color: white;
    color: #111;
  }
  .navbar__menu .navbar {
    height: 7%;
  }
  .navbar__menu .navbar__list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
    flex-wrap: nowrap;
  }
  .navbar__menu .navbar__links {
    color: #0c111a;
    font-size: 30px;
  }

  .navbar__menu.active {
    left: 0;
  }

  .navbar__toggle {
    height: 40px;
    width: 37px;
    background: url(Images/menu.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px;
    cursor: pointer;
    float: right;
    margin-right: 50px;
  }

  .navbar__toggle.active {
    background: url(Images/close.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 25px;
    cursor: pointer;
  }
}
#restaurants {
  grid-area: rest;
}

.restaurants {
  background-color: #0c111a;
  color: white;
}
.restaurants__list {
  list-style: none;
}
.restaurants__inner-heading {
  font-family: Source Sans Pro, Helvetica, Arial, sans-serif;
  font-size: 32px;
  font-weight: 800;
  line-height: 36px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  margin-bottom: 1em;
}
.restaurants__flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  text-align: none;
  flex-wrap: nowrap;
  margin: 10% 0;
}
.restaurants__text-content-on-left {
  width: 50%;
}
.restaurants__paragraph {
  font-family: Source Sans Pro Light, Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 26px;
  letter-spacing: 0.02em;
  text-transform: none;
  text-decoration: none;
  margin: 1em 0em;
}
.restaurants__button-position {
  margin-top: 2em;
}
.restaurants__website-link {
  font-family: Sackers Gothic Medium, Verdana, Helvetica, sans-serif;
  background-color: #272727;
  color: white;
  font-size: 14px;
  font-weight: 100;
  line-height: none;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1em;
  border: none;
}
.restaurants__website-link--hover:hover {
  cursor: pointer;
  background-color: #3b3b3b;
  color: #e6d3b0;
}
.restaurants__images {
  height: 300px;
  width: 300px;
}
.restaurants__images-border {
  padding: 8px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-padding-top: 4.3em;
  scroll-behavior: smooth;
}

.grid-wrapper {
  display: grid;
  grid-template-areas: "hd hd hd hd hd " ". about  about  about ." "rest rest rest rest rest  " ". contact contact contact ." " . . footer . . ";
}

.grid-container {
  padding: 55px;
}

/*font-family: Arial, Helvetica, sans-serif;*/
/*#f9f4ef: light pink color*/
