@use "./partials/mixins";
@use "./partials/palette";

@use "./modules/landing-page.scss";
@use "./modules/about.scss";
@use "./modules/contact.scss";
@use "./modules/footer.scss";
@use "./modules/navbar.scss";
@use "./modules/restaurants.scss";

* {
    box-sizing: border-box;
    @include mixins.padding-and-margin(0, 0);
}

html {
    scroll-padding-top: 4.3em;
    scroll-behavior: smooth;
}

.grid-wrapper {
    display: grid;
    grid-template-areas:
        "hd hd hd hd hd "
        ". about  about  about ."
        "rest rest rest rest rest  "
        ". contact contact contact ."
        " . . footer . . ";
}

.grid-container {
    padding: 55px;
}

/*font-family: Arial, Helvetica, sans-serif;*/
/*#f9f4ef: light pink color*/
